body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to left bottom, hsl(136, 100%, 85%) 0%,hsl(244, 100%, 85%) 100%);
}

#app, .theme {
    height: 100%;
}

header, aside, .links {
    background: transparent !important;
}